{
  "printWidth": 120,
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "bracketSpacing": true,
  "quoteProps": "as-needed",
  "bracketSameLine": true,
  "arrowParens": "always",
  "trailingComma": "es5",
  "htmlWhitespaceSensitivity": "ignore"
}
