<div class="sidebar" [ngClass]="{ 'sidebar-open': isOpen }">
  <ng-container *ngIf="isOpen; else isNotOpen">
    <div class="sidebar-header">
      <button type="button" class="button hover-background" [attr.data-testid]="testIds.closeButton" (click)="toggleOpenStatus()">
        <div class="icon-container">
          <span class="close-icon"></span>
        </div>
      </button>
    </div>

    <div class="vertical-scroll">
      <h2 class="title">Your boards</h2>

      <ol class="list">
        <li
          *ngFor="let generalBoardInfo of generalBoardsInfo$ | async; trackBy: trackById"
          class="list-item hover-background"
        >
          <div class="list-item-text">
            <a
              class="link"
              routerLink="/{{HOME_ROUTE}}/{{ generalBoardInfo.id }}"
              routerLinkActive="link-active"
              [attr.data-testid]="testIds.boardLink + '-' + generalBoardInfo.id"
            >
              {{ generalBoardInfo.title }}
            </a>
          </div>

          <button
            *ngIf="generalBoardInfo.id"
            type="button"
            class="button"
            aria-label="Star or unstar board"
            [attr.data-testid]="testIds.boardFavoriteButton + '-' + generalBoardInfo.id"
            (click)="toggleFavorite(generalBoardInfo)"
          >
            <div class="icon-container">
              <div class="icon-resize" [ngClass]="generalBoardInfo.isFavorite ? 'star-icon': 'star-outline-icon'"></div>
            </div>
          </button>
        </li>
      </ol>
    </div>
  </ng-container>
</div>

<ng-template #isNotOpen>
  <button type="button" class="circle hover-background" [attr.data-testid]="testIds.openButton" (click)="toggleOpenStatus()">
    <span class="open-icon"></span>
  </button>
</ng-template>
