<div class="list-header">
  <div class="title">
    <textarea
      #title
      *ngIf="isListTitleBeingEdited; else listTitleNotEdited"
      class="textarea"
      appAutoFocus
      appResizableTextarea
      maxlength="512"
      spellcheck="false"
      [attr.data-testid]="testIds.titleInput + '-' + listId"
      (blur)="updateListTitle(title)"
      (keydown.esc)="updateListTitle(title)"
    >{{ listTitle }}</textarea>

    <ng-template #listTitleNotEdited>
      <h2
        class="title-text"
        tabindex="0"
        [attr.data-testid]="testIds.title + '-' + listId"
        (click)="toggleListTitleEditing()"
        (keydown.space)="toggleListTitleEditing(); $event.preventDefault()"
        (keydown.enter)="toggleListTitleEditing(); $event.preventDefault()"
      >
        {{ listTitle }}
      </h2>
    </ng-template>
  </div>

  <button type="button" class="button-close" aria-label="Close" [attr.data-testid]="testIds.archiveButton + '-' + listId" (click)="archiveList()">
    &times;
  </button>
</div>

<div class="vertical-scroll">
  <ol
    class="cards"
    cdkDropList
    [cdkDropListData]="sortedCards"
    (cdkDropListDropped)="onDrop($event)"
  >
    <li *ngFor="let card of sortedCards; trackBy: trackById" class="no-list-style" cdkDrag [cdkDragData]="card">
      <a [routerLink]="[card.id]" class="card border-highlight link">{{ card.title }}</a>
    </li>

    <form *ngIf="isAddCardFormShown" [formGroup]="addCardForm" (ngSubmit)="addCard()">
      <textarea
        appAutoFocus
        appResizableTextarea
        class="card textarea full-width"
        placeholder="Enter a title for this card..."
        aria-label="Enter a title for this card..."
        spellcheck="false"
        formControlName="title"
        [attr.data-testid]="testIds.addCardInput + '-' + listId"
      ></textarea>

      <div class="button-group">
        <button type="submit" class="button-main" [disabled]="addCardForm.invalid" [attr.data-testid]="testIds.addCardSubmitButton + '-' + listId">Add card</button>

        <button type="button" class="button-close" [attr.data-testid]="testIds.addCardCloseButton + '-' + listId" (click)="closeForm()">&times;</button>
      </div>
    </form>
  </ol>
</div>

<button
  *ngIf="!isAddCardFormShown"
  type="button"
  class="button-spacing button-card"
  [attr.data-testid]="testIds.addCardOpenButton + '-' + listId"
  (click)="isAddCardFormShown = true"
>
  <div class="btn-content">
    <div class="plus-icon"></div>
    
    <span>Add a card</span>
  </div>
</button>
