$text-main-color: #b6c2cf;
$text-secondary-color: #172b4d;
$highlight-color: #85b8ff;
$dark-background-color: #161a1d;

$sidebar-text-color: #9fadbc;
$sidebar-border-color: rgba(159, 173, 188, 0.16);
$sidebar-background-hover-color: rgba(161, 189, 217, 0.08);

$white: #ffffff;
$black: #000000;

$toast-error-text-color: #da5d5d;

$modal-background-color: #282e33;

$card-background-color: #22272b;

$button-text-color: #1d2125;
$button-background-color: #579dff;
$button-disabled-text-color: #56636e;
$button-disabled-background-color: #2d343a;

$button-card-color: #a1bdd914;
$button-card-hover-color: #a6c5e229;
$button-close-hover-color: rgba(255, 255, 255, 0.1);

$button-hover-color: rgba(9, 30, 66, 0.14);
$button-active-color: rgba(9, 30, 66, 0.31);

$inactive-highlight-color: #3d474f;
$invalid-highlight-color: #f15b50;
$required-color: #e2483d;

$auth-border-color: #dddddd;
$auth-error-color: #ff0000;
$auth-disabled-color: #eeeeee;
$auth-success-color: #008000;
$auth-link-color: #3636d1;

$shadow-color: rgba(0, 0, 0, 0.1);
$transparent-background-color: rgba(255, 255, 255, 0.24);
